.li {
  display: inline;
  margin: auto;
  flex: 1;
  padding: 15px 5px;
  text-align: center;
  background-color: darkgray;
}

.li:hover, .selected {
  background-color: black;
  color: white;
  font-weight: bold;
}