.row {
  font-size: 2rem;
  padding: 1rem;
  background-color: lavender;
}

.row:hover {
  background-color: lavenderblush;
}

.index {
  padding: 5px 0px;
  font-weight: bold;
  text-align: right;
}

.title {
  padding: 5px 0px 5px 20px;
  text-align: left;
}

.icon {
  padding: 5px 20px 5px 0px;
  text-align: right;
}
